.completed {
    text-decoration: line-through;
    color: gray;
}

todos.button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: flex-end;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}